@font-face {
  font-family: Avenir;
  src: url(/src/fonts/Avenir-Book.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

@font-face {
  font-family: Avenir;
  src: url(/src/fonts/Avenir-Heavy.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
  font-weight: 300;
}

.search-form--big {
  margin: 20px 0;
  height: 70px;
}

.search-form--small {
  height: 42px;
}

.search-form__input {
  background-image: url(/src/images/Search.svg);
  background-repeat: no-repeat;
  width: 100%;

  border: 1px solid #e1e7ed;
  border-radius: 4px;
}

.search-form__input--big {
  padding: 25px 62px;
  background-position: 26px;
  background-size: 19px 19px;
}

.search-form__input--small {
  padding: 11px 33px;
  background-position: 13px;
  background-size: 11px 11px;
}

.search-form__input:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97);
}

.search-form__input:focus {
  color: #3d4e61;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
